*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.top{
    height: 100vh;
    width: 100%;
    background-image: url(../images/top.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
     color: #f9004d;
}

nav ul {
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: 0.4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    padding: 10px 25px;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    font-size: 75px;
    margin: 20px 0px 20px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 110px 13px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 5vw 0px;
    background-color: #191919;
}

#pc-about {
    height: auto;
    width: 30vw;
}

#phone-about {
    display: none;
    
}

.about-text {
    width: 600px;
    margin-left: 5%;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 5vw;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 1.8vw;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 2vw;
    font-size: 1.4vw;
    margin-bottom: 25px;
}

button {
    background-color: #f9004d;
    color: white;
    padding: 13px 30px;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: transform 0.4s;
    width: 130px;
    margin-left: 37.5%;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        width: 100%;
        margin-left: 0;
        margin-top: 1%;
        text-align: center;
    }

    .about img {
        height: fit-content;
    }

    .about-text h2 {
        text-align: center;
        font-size: 8vw;
    }

    .about-text h5 {
        font-size: 3.5vw;
    }

    .about-text p {
        font-size: 3vw;
        line-height: 4vw;
    }

    button {
        margin-left: 0%;
        padding: 16px 37px;
        width: 160px;
        font-size: 2.5vw;
    }

    #pc-about {
        display: none;
    }
    
    #phone-about {
        height: auto;
        width: 40vw;
        display: inline;
        margin-bottom: 15px;
    }

    .top{
        background-image: url(../images/top2.png);
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        display: none;
        text-align: center;
    }

    .newslatter form{
        display: none;
    }

    .top{
        background-image: url(../images/top3.png);
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        display: none;
        text-align: center;
    }

    .newslatter form{
        display: none;
    }

    .top{
        background-image: url(../images/top3.png);
    }
}

@media screen and (max-height: 600px) {
    .newslatter form{
        display: none;
    }
}

@media screen and (max-height: 680px) and (max-width: 670px){
    nav ul {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    nav{
        display: none;
    }
}